/* Badges */
.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 15px;
    padding: 2px 8px;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: .2px;
    border: 1px solid #e3e3e3;
    background: #fff;
    line-height: 1;
    color: #374151;
    &--muted {
        color: #848484;
    }
    &--blue {
        border-color: var(--primary-color);
        background: #dcedf4;
        color: var(--primary-color);
    }
    &--warn {
        border-color: #ffe0a6;
        background: #fff7ed;
        color: #f59e0b;
    }
    &--red {
        border-color: #fb5852;
        background: #fee9e9;
        color: #fb5852;
    }
}