@use "../abstracts/mq" as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

// Modal 공통
.modal {
    display: none; // 기본 숨김
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    &.active {
        display: flex;
    }
    .modal-dialog {
        background: #ecf0f2; // gray-100
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        min-width: 300px;
        max-width: 90%;
        max-height: 90%;
        overflow: hidden;
        .modal-header {
            background: #047bb6; // 파란 헤더
            color: #fff;
            padding: 15px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 19px;
            font-weight: 300;
            span{
                color: #fff;
            }
            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-image: url("@/assets/images/modal/modal-close.png");
            }
        }
        .modal-content {
            padding: 20px;
            min-height: 150px;
        }
    }
}


// 공지사항 모달
.notice-dialog {
    position: relative;
    .notice-bottom {
        background: #ecf0f2;
        position: sticky;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 70px;
        @include down(md) {
            padding: 10px 20px;
        }
        .no-week {
            font-size: 14px;
            color: #888;
            display: flex;
            align-items: center;
            gap: 8px;

            input[type="checkbox"] {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        .btn-close {
            background: none;
            border: none;
            color: #111;
            font-size: 15px;
            cursor: pointer;
            padding: 5px 10px;
        }
    }
}

.notice-type02-modal {
    max-height: 700px;
    background: #daebfc;

    .notice-top {
        text-align: center;
        padding-bottom: 240px;
        background-image: url("@/assets/images/modal/top-img.png");
        background-position: bottom;
        background-repeat: no-repeat;
        margin-bottom: 30px;
    }
    .notice-logo {
        padding-top: 80px;
        @include down(md) {
            padding-top: 40px;
        }
    }

    .notice-title {
        padding-top: 20px;
        font-size: 60px;
        font-weight: bold;
        color: #0844aa;
        @include down(md) {
            font-size: 30px;
        }
    }

    .notice-row-head {
        background: #0067c5;
        color: #fff;
        font-size: 25px;
        padding: 14px 20px;
        font-weight: 600;
        text-align: center;
        border-radius: 10px 10px 0 0;
        @include down(md) {
            font-size: 18px;
        }
    }

    .notice-box {
        background: #fff;
        margin-bottom: 20px;
        border-radius:  0 0 10px 10px;
        padding: 30px;
        @include down(md) {
            padding: 20px;
        }
    }
    .notice-img-box{
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        img{
            width: 100%;
        }
    }
    .notice-row {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        .label {
            background: #077cb4;
            color: #fff;
            padding: 8px 16px;
            border-radius: 20px;
            font-size: 20px;
            white-space: nowrap;
            display: inline-block;
            @include down(md) {
                font-size: 15px;
            }
        }

        .value {
            font-size: 20px;
            color: #0a244a;
            @include down(md) {
                font-size: 15px;
            }
            &.strong {
                font-weight: 700;
            }
        }
    }
}
.notice-type01-modal {
    max-height: 700px;
    position: relative;
    padding: 80px 80px !important;
    background-color: #0972db;
    background-image: url("@/assets/images/modal/notice-type01-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    @include down(md) {
        padding: 40px 40px !important;
    }
    @include down(sm) {
        padding: 20px 20px !important;
    }
    &:after{
        position: absolute;
        left: 0;
        bottom: -3px;
        // content:'';
        display: block;
        width: 100%;
        height: 220px;
        background-image: url("@/assets/images/modal/notice-type01-bottom.png");
    }
    .notice-title {
        font-size: 55px;
        color: #fff;
        font-weight: 100;
        line-height: 1.3;
        text-align: center;
        margin-bottom: 20px;
        @include down(md) {
            font-size: 30px;
        }
        strong{
            font-weight: 700;
            color:#fff;
        }
    }
    
    .notice-box {
        background: #fff;
        border-radius: 10px;
        padding: 60px 80px 60px 80px ;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
         @include down(md) {
            padding: 30px 40px;
        }
        .notice-desc {
            font-size: 24px;
            color: #333;
            text-align: center;
            line-height: 1.6;
            margin-bottom: 25px;
            @include down(md) {
                font-size: 18px;
                br{
                    display: none;
                }
            }
            strong {
                font-weight: 700;
            }
        }
        .row {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;
            .label {
                min-width: 140px;
                background: #333;
                color: #fff;
                font-size: 20px;
                padding: 10px 10px;
                border-radius:0px 5px 5px 5px;
                min-width: 95px;
                text-align: center;
                @include down(md) {
                    font-size: 15px;
                }
            }
            .value {
                font-size: 25px;
                font-weight: 700;
                color: #0758ac;
                display: flex;
                align-items: center;
                @include down(md) {
                    font-size: 15px;
                }
            }
        }
        .notice-sub {
            font-size: 15px;
            color: #777;
            margin-left: 150px;
            margin-bottom: 15px;
            @include down(md) {
                margin-left: 100px;
                font-size: 12px;
            }
        }
    }
}

.modal-dispatch-cont{
    display: flex;
    flex-direction: column;
    gap:20px;
    .route--manage__box{
        .listbody{
            height: 200px;
        }
        
    }

}