<link rel="stylesheet" href="/scss/main.scss" />
<link rel="stylesheet" href="styles.css" />
<link rel="stylesheet" href="./assets/fonts/esamanru.css">
<link rel="stylesheet" href="./assets/fonts/Freesentation.css">
<link rel="stylesheet" href="./lib/simplebar/simplebar.css">
<link rel="stylesheet" href="./lib/jQuery-ui/jquery-ui.css">
<script src="./lib/jQuery/1.12.3/jquery.min.js"></script>
<script src="./lib/jQuery-ui/jquery-ui.min.js"></script>
<script src="./lib/simplebar/simplebar.min.js"></script>
<script src="./lib/GaugeMeter.js"></script>
<script src="./lib/interact.min.js"></script>
<script type="module" src="/js/page/index.js"></script>